---
import Layout from '../components/Layout.astro';
---

<Layout>
	<div class="text">
		<h1 class="text_title">Training Tracker</h1>
		<h2 class="text_subtitle">Control Your Progress</h2>
	</div>
	<section class="content">
		<div class="triangle"></div>
		<div class="content_text">
			<h2 class="h2">START USING AN APP</h2>
			<button class="btn">Proceed</button>
		</div>		
	</section>	
</Layout>

<style>
	body {
		background-color: #2c1d33;
		display : flex;

		.text {
			width : 60%;
			height : 100%;
			z-index : 1000;
			background-color: #2c1d33;
			border-top-right-radius: 50%;
			padding-top: 10rem;

			color : white;

			.text_title,.text_subtitle {
				margin : 0;
				margin-top : 0.5rem;
				margin-bottom : .5rem;
				padding: 5rem;
				padding-top : 0rem;
			}

			.text_title {
				font-size: 5rem;
			}

			.text_subtitle {
				font-size : 2.5rem;
				color: #8881f5;				
			}
		}

		.content {
			width : 40%;
			height : 110vh;
			background: linear-gradient(45deg,#8c0eac,#2baecf);
			display : flex;
			align-items: center;

			.triangle {
				width : 30%;
				height : 120%;
				background-color: #2c1d33;
				transform: translateX(-50%) rotate(5deg);
			}

			.content_text {
				width : 70%;
				height : 100%;

				display : flex;
				justify-content: center;
				align-items: flex-end;
				padding-right : 4rem;
				flex-direction: column;

				.h2 {
					font-size : 2.5rem;
					margin-bottom : 3.5rem;
				}

				.btn {
					display : block;
					padding : 0.75rem;
					padding-left : 3rem;
					padding-right : 3rem;
					font-size : 1.3rem;
					cursor : pointer;
					margin-bottom : 3.5rem;
					background-color: #2c1d33;
					border : none;
					color : white;
					border-radius: 2rem;

					transition: background-color 250ms;
					will-change: background-color;
				}

				.btn:hover {
					background-color: #2baecf;
				}
			}
		}
	}
</style>

