---
import Layout from '../components/Layout.astro';
---

<Layout>
	<div class="text"></div>
	<section class="content"></section>	
</Layout>

<style>
	body {
		background-color: #2c1d33;
		display : flex;
		position : relative;

		.text {
			width : 75%;
			position: absolute;
			z-index : 1000;
			background-color: #2c1d33;
			border-top-right-radius: 50%;
		}

		.content {
			width : 30%;
			height : 100vh;
			background: linear-gradient(45deg,#8c0eac,#2baecf);
			justify-self: flex-end;
			position: absolute;
			margin-left : 70%;
		}
	}
</style>

