---
import Layout from "../components/Layout.astro";
---

<Layout>
    <form>
        <input placeholder="username" type="text" />
        <input placeholder="password" type="password" />
        <button type="submit">Log In</button>
        <a href="/register">Don't have an account ?</a>
    </form>
</Layout>

<style>
    body {
        background-color: #2c1d33;
        display : flex;
        justify-content: center;
        align-items: center;
    }
</style>