---
import Layout from "../components/Layout.astro";
import { PanelHeading } from '../ReactComponents/panelHeading';
---

<Layout>
    <PanelHeading client:load />
    <button>Log Out</button>
</Layout>

<script>
    const button = document.querySelector('button');
    button?.addEventListener('click', () => {
        localStorage.removeItem('username');
        window.location.href = '/login';
    })
</script>