---
import Layout from "../components/Layout.astro";
import Background from "../components/Background.astro";
---

<Layout>
    <Background />
    <form>
        <input type="text" placeholder="username" />
        <input type="password" placeholder="password" />
        <input type="password" placeholder="repeat password" />
        <button>Log In</button>
    </form>
    <a href="/login">Have got an account already ?</a>
</Layout>

<style>
    body {
        display : flex;
        justify-content: center;
        align-items: center;
    }

    form {
        position: absolute;
        z-index: 1000;

        display : flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    a {
        position : absolute;
        color : white;
        z-index: 1000;
        margin-top : 10rem;
    }

    input,button {
        margin-top : 0.5rem;
        margin-bottom : 0.5rem;
    }
</style>