.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #3333337a;
  z-index: 1200;
  padding: 0;
  margin: 0;
  position: fixed;

  transition: transform 250ms, opacity 250ms;
  will-change: transform, opacity;

  @media screen and (max-width : 992px) {
    width : 100%;
  }
}

.modal-shown {
  transform: scale(1);
  opacity: 1;
}

.modal-hidden {
  transform: scale(0);
  opacity: 0;
}

.modal-content {
  width: 50rem;
  height: 40rem;
  background-color: #2c1d33;
}

.modal-bar {
  width: 100%;
  height: 3rem;
  background: linear-gradient(45deg, #8c0eac, #2baecf);
}

.modal-bar > button {
  width: 3rem;
  height: 3rem;
  color: white;
  background-color: #5c346e;
  border: none;
  transition: background-color 250ms;
  font-family: "Montserrat", sans-serif;
}

.modal-bar > button:hover {
  background-color: #ad002b;
}

.modal-form {
  width: 100%;
  height: 90%;
}

.modal-form > input,
.modal-form > button {
  width: 50%;
  height: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.modal-form > input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: solid whitesmoke 1px;
  transition: border-color 250ms;
}

.modal-form > input::placeholder {
  transform: color 250ms;
}

.modal-form > input:focus {
  border-color: #8c0eac;
}

.modal-form > input:focus::placeholder {
  color: #8c0eac;
}

.modal-form > button {
  background: linear-gradient(45deg, #8c0eac, #2baecf);
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  z-index : 5000;
}

h2 {
  font-size: 2rem;
}
