<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <meta name="author" content="Krystian Zieja">
        <meta name="keywords" content="training, tracker, progress, gym" >
        <meta name="description" content="Simple training tracker to controll your progress !!!">
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    *,*::before,*::after {
        margin : 0;
        padding : 0;
        box-sizing: border-box;
    }

    body {
        width : 100vw;
        height : 100vh;
        overflow: hidden;
    }
</style>