<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <meta name="author" content="Krystian Zieja">
        <meta name="keywords" content="training, tracker, progress, gym" >
        <meta name="description" content="Simple training tracker to controll your progress !!!">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    *,*::before,*::after {
        margin : 0;
        padding : 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    body {
        width : 100vw;
        height : 100vh;
        overflow: hidden;
    }
</style>